<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Lotus Servidor Gerencial</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Início
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="produtos">
                <span class="bi bi-box-seam-fill-nav-menu" aria-hidden="true"></span> Produtos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vendas">
                <span class="bi bi-cart-check-fill-nav-menu" aria-hidden="true"></span> Vendas Recebidas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="configuracoes">
                <span class="bi bi-gear-fill-nav-menu" aria-hidden="true"></span> Configurações
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chat-ia">
                <span class="bi bi-robot" aria-hidden="true" style="font-size: 1.2rem;"></span> Chat IA
            </NavLink>
        </div>

    </nav>
</div>
